.text-header {
  margin-top: 10vh;
  font-weight: 700;
}

.disableContent {
  background-color: #f5f5f5;
  border: none;
  pointer-events: none;
}

div label {
  // font-size: 1.5rem;
  font-weight: 600;
}

// hover button
.my-btn-group .my-btn-item{
    transition: all .3s linear;
  }

.my-btn-group .my-btn-item:hover {
  color: orange;
  border: 1px solid orange;
}

.my-btn-group {
  .my-btn-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: white;
    z-index: -1;
    transition: all .3s linear;
  }
}

.my-btn-group .my-btn-item:hover::before {
  width: 100%;
}

