.text-header {
  margin-top: 10vh;
  font-weight: 700;
  text-shadow: 0 0 1px black;
}

.disableContent {
  background-color: #F8F8F8F8;
  border: none;
  pointer-events: none;
}

div label {
  // font-size: 1.5rem;
  font-weight: 600;
}

.my-btn-group {
  margin-bottom: 10px;
}

// hover button
.my-btn-item {
  transition: all .3s linear;
}
.my-btn-item:hover {
  color: orange;
  background-color: white;
  border: 1px solid orange;
}
