<footer>
  <div class="container">
    <div class="row"  id="content_footer">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 footer_col">
        <h1>ReadTime</h1>
      </div>
      <div class=col-lg-3 col-md-3 col-sm-3 col-xs-6 footer_col>
        <h3 class="footer_title">ABOUT</h3>
        <ul class="footer_linkLists">
          <li>
            <a href="#">Về Chúng Tôi</a>
          </li>
          <li>
            <a href="#">Hạt Cà Phê Của ReadTime</a>
          </li>
          <li>
            <a href="#">Blog</a>
          </li>
          <li>
            <a href="#">Cửa Hàng</a>
          </li>
        </ul>
      </div>
      <div class=col-lg-3 col-md-3 col-sm-3 col-xs-6 footer_col>
        <div class="hotline_footer">
          <h3 class="footer_title">ALWAYS-ON SUPPORT</h3>
          <p>Delivery 0347637598(07:00-21:00)</p>
          <p>Support 0346252626(07:00-21:00)</p>
        </div>
        <div class="address_footer">
          <h3 class="footer_title">ADDRESS</h3>
          <p>576 Lê Hồng Phong, Phường 10, Quận 10, TP Hồ Chí Minh, Việt Nam</p>
          <p>0346252626</p>
          <p>hi@readtime.com</p>
        </div>
      </div>
      <div class=col-lg-3 col-md-3 col-sm-3 col-xs-6 footer_col>
        <h3 class="footer_title">DELIVERY</h3>
        <ul class="footer_linkLists">
          <li>Shipping methods</li>
          <li>Payment</li>
          <li>Cash voucher</li>
          <li>Return</li>
          <li>Exchange</li>
        </ul>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="copyright_footer display_flex justify-conten-between">
          <div class="copyright_text copyright_col">
            Copyright © 2018 ReadTime. All rights reserved.
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
