footer {
  background-color: black;
  color: white;
}
#content_footer {
  padding-top: 100px;
  padding-bottom: 20px;
}
ul li {
  display: block;
  font-size: 14px;
}
div p {
  font-size: 14px;
}
ul li {
  display: block;
}
.footer_title {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 10px;
}
.hotline_footer p, .address_footer p {
  color: white;
  line-height: 20px;
  margin: 0;
}
.footer_linkLists {
  padding: 0;
  margin: 0;
}
.footer_linkLists li a {
  line-height: 20px;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}
.address_footer {
  margin-top: 30px;
}
.copyright_footer {
  border-top: 1px solid white;
  margin-top: 30px;
  padding: 20px 0 0;
}
.copyright_footer .copyright_col {
  color: white;
  justify-content: center;
}
.copyright_text {
  // flex: 3 1 0;
  justify-content: center;
}

