$primary-color:#DB5C00;
/** gobal */
.user-icon-style {
  display: inline-block;
	span {
		font-size: 2rem;
		color: $primary-color;
	}
}
/** end gobal */

.header__logo {
  img {
    width: 100%;
    height: 100%;
  }
}

.header__login {
  margin: 20px;
  a {
    .login-content {

      margin-left: 5px;
      display: inline-block;
      font-size: 14px;
      p {
        color: #000000;

        span {
          color: red;
        }
      }
    }
  }
}

.header__cart {
  margin: 20px;

}
