<header class="header-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-4">
        <div class="header__logo">
          <img src="./../assets/images/main_logo.png" alt="">
        </div>
      </div>
      <!-- <div class="col-lg-9 col-sm-8">
        <div class="header__right d-flex justify-content-end ">
            <div class="header__login">
                <a href="#">
                    <div class="user-icon-style">
                      <span>
                          <i class="fas fa-user-secret"></i>
                      </span>
                    </div>
                    <div class="login-content">
                      <p>Register
                        <br>
                        or <span>Sign in</span>
                      </p>
                    </div>
                </a>
              </div>
              <div class="header__cart">
                  <a href="#">
                      <div class="user-icon-style">
                        <span>
                            <i class="fab fa-opencart"></i>
                        </span>
                      </div>
                  </a>
                </div>
        </div>
      </div> -->
    </div>
  </div>
</header>
