
<!-- <a routerLink="../../admin">admin</a>
 -->
<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-2" data-slide-to="1"></li>
      <li data-target="#carousel-example-2" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="view">
          <img class="d-block w-100 h50" src="../../../assets/images/kg1.jpg"
            alt="First slide">
          <div class="mask rgba-black-light"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">Không gian quá là điểm đáng tự hào của chúng tôi!</h3>
          <p>Với không gian được thiết kế theo phong cách trẻ trung, năng động thích hợp với mọi lứa tuổi.
            Không chỉ năng động chúng tôi còn có không gian tĩnh lặng thích hợp cho các nhóm thích yên tĩnh.
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <!--Mask color-->
        <div class="view">
          <img class="d-block w-100 h50" src="../../../assets/images/tra suass.jpg"
            alt="Second slide">
          <div class="mask rgba-black-strong"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">Order Ngay Nào!!</h3>
          <p>Chần chừ gì nữa! Hãy đến với chúng tôi để thưởng thức những hương vị trà sữa tuyệt vời nhất.
            Chúng tôi tự tin rằng sẽ làm cho bạn hài lòng khi đến với chúng tôi dù là những người kén ăn nhất!!
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <!--Mask color-->
        <div class="view">
          <img class="d-block w-100 h50" src="../../../assets/images/thu thach.jpg"
            alt="Third slide">
          <div class="mask rgba-black-slight"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">Challenge</h3>
          <p>Hãy thách thức bản thân! Bạn có thể uống được bao nhiêu ml trà sữa? Hãy đến với chúng tôi,
            không chỉ biết được giới hạn bản thân mà các bạn còn được mang về những phần quà đáng yêu.
          </p>
        </div>
      </div>
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
  </div>

