<form [formGroup]="foodCategoryForm" (ngSubmit) ="onSubmit()">
  <div class="form-row">
    <div class="col-12 col-sm-8  form-item">
      <input formControlName="name" type="text" class="form-control" placeholder="Tên loại món ">
    </div>
    <div class="col-12 col-sm-4  form-item">
        <select formControlName="status" class="custom-select mr-sm-2" #selectedItem>
          <option [value]="statusOption.true" selected>Mở</option>
          <option [value]="statusOption.false" >Đóng</option>
        </select>
    </div>
    <div class="col-12">
      <div class="my-btn-group">
        <button type="submit" class="btn my-btn-item">Thêm</button>
        <button type="button" class="btn my-btn-item" (click)="editFoodCategory()">Sữa</button>
      </div>
    </div>
  </div>
</form>
