
.my-container {
  background-color: #f5f5f5;
}
.my-food-category-edit {
  margin-top: 50px;
}
.my-food-category-item {
  margin-bottom: 50px;
}
.my-list-group{
  cursor: pointer;
  margin-top: 20px;

}
