.my-list-group-item{
  margin-top: 5px;
  margin-bottom: 5px;
}

.my-list-group-item:hover{
  background: pink;
}

.text-content{
  font-size: 0.8rem;
  margin-top: 2px;
  margin-bottom: 2px;
}
.text-description{
  font-size: 0.7rem;
}

.my-active{
  background: pink;

}


