/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css');


html, body {
  height: 100%;
  box-sizing: border-box;
}

body, * {
  margin: 0;
  padding: 0;
}

*:not(i) {
  font-family: 'Roboto', sans-serif;
}

.btn-crud{
  max-height: 50px;
  max-width: 50px;
}
.text-header {
  text-align: center;
  font-size: 2rem;
}

.text-main {
  text-align: center;
  font-size: 0.9rem;
}
@media only screen and (max-width: 850px) {
  .text-header {
    text-align: center;
    font-size: 1.3rem;
  }
}


/* form*/

.my-btn-group{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  .my-btn-item{
    margin-left: 10px;
    margin-right: 10px;
    min-width: 100px;
  }
}

/*end form*/





